
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Navbar superior */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 20px; /* Espacio entre la imagen y el enlace */
}

.logo a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 16px;
}


.dropdowns {
    display: flex;
    align-items: center;
}

/* Los estilos de dropdowns permanecen igual */

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--clr-white);
    min-width: 160px;
    z-index: 1001;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: var(--clr-main);
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--clr-gray);
}

.dropdown:hover .dropdown-content {
    display: block;
}

